{% extends 'base.html.twig' %}

{% block subtitle %} - Creating account{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h2>Category</h2>
    {{ form_widget(form.category) }}
    <div class="text-right mt-3">
        <button type="submit">Next</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
