{% extends 'base.html.twig' %}

{% block subtitle %} - Creating account{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h2>Writing Topic</h2>
    {{ form_widget(form.writing_topic) }}
    <div class="text-right mt-3">
        <button type="submit">Next</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
